SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
POSTGRES_URL=
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# LINE Integration
LINE_SHOP_API_KEY=
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
ADMIN_LINE_UID=
CRON_SECRET=